<div class="container">
  <div class="columns">
    <div class="column">
      <%= link_to "New datastream", new_datastream_path, class: "button is-info" %>
      <table class="table is-narrow is-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Source</th>
            <th>Data interval</th>
            <th>Enabled</th>
            <th>Print mode</th>
            <th>Roster display mode</th>
            <th>Updated at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @datastreams.each do |datastream| %>
            <tr>
              <td><%= datastream[:id] %></td>
              <td><%= datastream[:name] %></td>
              <td><%= datastream[:source] %></td>
              <td><%= datastream[:data_interval] %></td>
              <td><%= datastream[:enabled] %></td>
              <td><%= datastream[:print_mode] %></td>
              <td><%= datastream[:roster_display_mode] %></td>
              <td><%= Time.at(datastream[:updated_at]).to_datetime.strftime("%b %-d %Y, %H:%M") %></td>
              <td>
                <%= link_to datastream_path(datastream), method: :delete, data: { confirm: "Delete?" } do %>
                  <span class="icon is-small"><i class="fa fa-minus-circle"></i></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

